---
http_interactions:
- request:
    method: get
    uri: https://us-zipcode.api.smartystreets.com/lookup?auth-id=<SMARTYSTREETS_AUTH_ID>&auth-token=<SMARTYSTREETS_AUTH_TOKEN>&city=Sunnyvale&state=CA&zipcode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"city_states":[{"city":"Sunnyvale","state_abbreviation":"CA","state":"California","mailable_city":true}],"zipcodes":[{"zipcode":"94085","zipcode_type":"S","default_city":"Sunnyvale","county_fips":"06085","county_name":"Santa
        Clara","state_abbreviation":"CA","state":"California","latitude":37.38943,"longitude":-122.01811,"precision":"Zip5"},{"zipcode":"94086","zipcode_type":"S","default_city":"Sunnyvale","county_fips":"06085","county_name":"Santa
        Clara","state_abbreviation":"CA","state":"California","latitude":37.37142,"longitude":-122.02794,"precision":"Zip5"},{"zipcode":"94087","zipcode_type":"S","default_city":"Sunnyvale","county_fips":"06085","county_name":"Santa
        Clara","state_abbreviation":"CA","state":"California","latitude":37.35121,"longitude":-122.03564,"precision":"Zip5"},{"zipcode":"94088","zipcode_type":"P","default_city":"Sunnyvale","county_fips":"06085","county_name":"Santa
        Clara","state_abbreviation":"CA","state":"California","latitude":37.41039,"longitude":-122.01898,"precision":"Zip5"},{"zipcode":"94089","zipcode_type":"S","default_city":"Sunnyvale","county_fips":"06085","county_name":"Santa
        Clara","state_abbreviation":"CA","state":"California","latitude":37.40243,"longitude":-122.00355,"precision":"Zip5"}]}]'
  recorded_at: Thu, 08 Sep 2016 23:30:44 GMT
recorded_with: VCR 3.0.3
